pkgbase = khotkeys
	pkgdesc = KHotKeys
	pkgver = 5.27.9
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = kdesignerplugin
	makedepends = kinit
	depends = plasma-workspace
	depends = kdelibs4support
	source = https://download.kde.org/stable/plasma/5.27.9/khotkeys-5.27.9.tar.xz
	source = https://download.kde.org/stable/plasma/5.27.9/khotkeys-5.27.9.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = 761a5d29cba572e9b478173f803de34a08ce4999c581ef2d92618cbfb087dce8
	sha256sums = SKIP

pkgname = khotkeys
